@page
@model Tienda.Pages.Sales.IndexModel
@{
}
<h1>Ventas</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                Fecha
            </th>
            <th>
                Total
            </th>
            <th>

            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.sales)
        {
        <tr>
            <td>
                @Html.DisplayFor(m => item.Fecha)
            </td>
            <td>
                @Html.DisplayFor(m => item.Total)
            </td>
            <td>
                <a class="btn btn-primary" asp-page="./Detalles" asp-route-id="@item.IdSale"><i class="fas fa-info-circle"></i></a>
            </td>
        </tr>
        }
    </tbody>
</table>