@page
@model Tienda.Pages.Sales.IndexModel
@{
}
<h1>Ventas</h1>
<table class="table">
    <thead>
        <tr>
            <td>
                Fecha
            </td>
        </tr>
    </thead>
</table>