@page

@model Tienda.CreateCatModel

@{
   

}

<h1>Create</h1>

<h4>Categoria</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Categoria.NomCategoria" class="control-label"></label>
                <input asp-for="Categoria.NomCategoria" class="form-control" />
                <span asp-validation-for="Categoria.NomCategoria" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Categoria.Detalle" class="control-label"></label>
                <input asp-for="Categoria.Detalle" class="form-control" />
                <span asp-validation-for="Categoria.Detalle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="/Categoria/IndexCategoria">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
