@page
@model Tienda.Pages.Carritos.IndexModel
@{
}
<h1>Carrito</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.productos[0].NomProducto)
            </th>
        
            <th>
                @Html.DisplayNameFor(model => model.productos[0].Precio)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.proCar)
        {if (item.Carrito.IdCar == Model.Car.Last().IdCar)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Producto.NomProducto)
                </td>
            
                <td>
                    @Html.DisplayFor(modelItem => item.Producto.Precio)
                </td>
                <td>
                    <a  href="~/api/Carrito/@item.IdProdCar" class="btn btn-primary btnDelete"><i class="fas fa-times"></i></a>
                </td>
            </tr>
            }
        }
    </tbody>
</table>
<div>
    <h5>Total a pagar</h5>
    <h4>$@Model.Total(Model.Car.Last().IdCar)</h4>
    <a href="~/api/Sale/@Model.Car.Last().IdCar/@Model.Total(Model.Car.Last().IdCar)" class="btn btn-success btnPaga">Pagar</a>
</div>

@section Scripts{
<script>
     $(function () {
            $(".btnPaga").on("click", function (ev) {
                var url = $(this).attr("href");
                ev.preventDefault();
                $.ajax({
                            url: url,
                            type: "POST",
                            success: function () {
                                Swal.fire({
                                    position: 'center',
                                    icon: 'success',
                                    title: 'Se Agrego al carrito correctamente',
                                    showConfirmButton: false,
                                });
                                window.setTimeout(function () {
                                    location.reload();
                                }, 3000);
                            }
                        });
            });
        });

</script>
 }