@page
@model Tienda.PrivacyModel
@{
    ViewData["Title"] = "Privacy";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
<div>
<h1>Privacy</h1>
<p>Todos los problemas de esta aplicación no son apropósito</p>
</div>